<app-header></app-header>
<section  class="owl">
  <owl-carousel-o [options]="customOptions">    
  <ng-template carouselSlide>
       <div  class="column">
        <div class="app">
            <img src="/assets/images/Ellipse 10.png" width="300px" >
      </div>
      <div  class="column2">
      <h3 class="convert">How to Convert Your Website Into an App</h3>
      <p class="convert1">If your company has a website but wants to create a more user-friendly mobile experience, you can convert your site into an Android or iOS app that brings a mobile-optimized interface to your customers. This is particularly beneficial if your website isn’t the most responsive on phones or tablets, as you can create an app alternative for mobile users.</p>
      </div>
      </div>
  </ng-template>
  <ng-template carouselSlide>
      <div  class="column3">
          <div  class="column4">
              <h3 class="convert">Start off on the right foot</h3>
              <p class="convert1">With codeship company you can find website, create a site and get custom email addresses.</p>
              </div>
       <div class="app1">
           <img src="/assets/images/Ellipse 11.png" width="300px" >
     </div>
     </div>
  </ng-template>
  <ng-template carouselSlide>
      <div  class="column5">
       <div class="app2">
           <img src="/assets/images/Ellipse 34.png" width="300px" >
     </div>
     <div  class="column6">
     <h3 class="convert">BUILD A WEBSITE WITH US FOR YOUR BUSINESS</h3>
     <p class="convert1">Your website can help establish your business as a going concern, communicate your brand value proposition and it can convey professionalism. It also extends your reach to anyone in the world. Help build trust</p>
     </div>
     </div>
  </ng-template>
  <ng-template carouselSlide>
      <div  class="column7">
       <div class="app3">
           <img src="/assets/images/Ellipse 35.png" width="300px" >
     </div>
     <div  class="column8">
     <h3 class="convert">How to Convert Your Website Into an App</h3>
     <p class="convert1">If your company has a website but wants to create a more user-friendly mobile experience, you can convert your site into an Android or iOS app that brings a mobile-optimized interface to your customers. This is particularly beneficial if your website isn’t the most responsive on phones or tablets, as you can create an app alternative for mobile users.</p>
     </div>
     </div>
  </ng-template>
  <ng-template carouselSlide>
      <div  class="column9">
       <div class="app4">
           <img src="/assets/images/Ellipse 36.png" width="300px" >
     </div>
     <div  class="column10">
     <h3 class="convert">How to Convert Your Website Into an App</h3>
     <p class="convert1">If your company has a website but wants to create a more user-friendly mobile experience, you can convert your site into an Android or iOS app that brings a mobile-optimized interface to your customers. This is particularly beneficial if your website isn’t the most responsive on phones or tablets, as you can create an app alternative for mobile users.</p>
     </div>
     </div>
  </ng-template>
  
      </owl-carousel-o>
  </section>
  
  <!--section 2-->
  <section>
      <div class="seven">
          <div class="eve">
            <div class="image-container">
              <img src="/assets/images/images.png"   width="100px">
              <p class="year">Years of Experience</p>
          </div>
        </div>
      <div class="about">
          <h1>ABOUT CODESHIP COMPANY</h1>
          <p class="might">You might be a business owner hiring a freelance developer to build your website, a marketer pitching a vision to your development team, or a student learning about development as a career. Regardless of who you are or why you’re reading this guide, understanding the basics of website development can be helpful in this technology-driven world.</p>
          <p class="might">we are having good experience in provide quality Web Designing, Website Developemnt, E-Commerce Development, Digital Marketing and SEO services in Chennai. Our company provide a time bound, cost effective and value added services for technology innovative business solutions that require specialized domain expertise.</p>
          <p class="might">We have a good creative and innovative team to plan and create your company website design and work on the UI elements to make the user experience great keeping in mind speed and loading time.</p>
      </div>
      </div>
  </section>
  <!--section-->
  <section class ="tension">
      <div class="contacts">
        <h6>WANT TO KNOW MORE ABOUT OPEN SOURCE DEVELOPMENT ?</h6>
        <button class="button2">CONTACT US</button>
      </div>
    </section>
    <section class="service-section">
      <div class="container">
        <div class="card-description">
          <span class="divider-line"></span>
          <h2 class="section-heading">Our Services</h2>
          <span class="divider-line"></span>
        </div>
        <div class="card-row">
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">Graphic Design</h3>
              <p class="card-description">Graphic design is the profession and academic discipline whose activity consists in projecting visual communications intended to transmit specific messages to social groups, with specific objectives.</p>
            </div>
          </div>
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">Website Designing</h3>
              <p class="card-description">The design of websites that are displayed on the internet. It usually refers to the user experience aspects of website development rather than software development</p>
            </div>
          </div>
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">Website Development</h3>
              <p class="card-description">Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services</p>
            </div>
          </div>
        </div>
        <div class="card-row">
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">E-Commerce Development</h3>
              <p class="card-description">Ecommerce website development is the process of developing the technical aspects of your ecommerce website.</p>
            </div>
          </div>
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">Digital Marketing & SEO</h3>
              <p class="card-description">It is the process of getting traffic from the free, organic, editorial, or natural search results on the search engines. Simply put, it’s the name given to the activity that attempts to improve search engine rankings.</p>
            </div>
          </div>
          <div class="card-column">
            <div class="card">
              <h3 class="card-heading">Mobile App Development</h3> <!-- Add the closing tag for h3 -->
              <p class="card-description">Mobile app development is the act or process by which a mobile app is developed for mobile devices, such as personal digital assistants, enterprise digital assistants or mobile phones</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
        <section class="work-section">
          <div class="contain">
            <div class="descriptions">
              <span class="divides-line"></span>
              <h2 class="section-head">HOW WE WORK</h2>
              <span class="divides-line"></span>
            </div>
            <p class="success">We are a success diary for a reason. An efficient team with brilliant ideas is our open secret.</p>
          
            <div class="row">
              <div class="card-call">
                <div class="cards">
                  <div class="card-content">
                    <img src="/assets/images/megaphone-155780__340.webp" alt="Promotions">
                    <h3 class="card-reading">Promotions</h3>
                    <p class="card-inscription">The aim of promotion is to increase brand awareness, create interest, generate sales or create brand loyalty. Promotion is also one of the elements in the promotional mix or promotional plan.</p>
                  </div>
                </div>
              </div>
          
              <div class="card-call">
                <div class="cards">
                  <div class="card-content">
                    <img src="/assets/images/lightbulb-icon-flat-vector-illustration-design-lightbulb-icon-flat-vector-illustration-design-isolated-white-background-158417394-300x300.jpg" alt="Strategy and Planning">
                    <h3 class="card-reading">Strategy and Planning</h3>
                    <p class="card-inscription">The process includes establishing the sequence in which those goals should be realized so that the organization can reach its stated vision.</p>
                  </div>
                </div>
              </div>
            </div>
          
            <div class="row">
              <div class="card-call">
                <div class="cards">
                  <div class="card-content">
                    <img src="/assets/images/download (1).png" alt="Roles and Responsibility">
                    <h3 class="card-reading">Roles and Responsibility</h3>
                    <p class="card-inscription">Roles refer to one’s position on a team. Responsibilities refer to the tasks and duties of their particular role or job description.</p>
                  </div>
                </div>
              </div>
          
              <div class="card-call">
                <div class="cards">
                  <div class="card-content">
                    <img src="/assets/images/marketing.png" alt="Testing & Delivery">
                    <h3 class="card-reading">Testing & Delivery</h3>
                    <p class="card-inscription">Slow development processes become outdated quickly as the market becomes more and more Agile-centric, more demanding.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-experience">
          <div class="row12">
              <h3> Highly Experienced, we’ve been in business for 7 years In making Website & Mobile Application and Designing the needs for you Agency! </h3>
              <p> We are located near you to provide all your website & designing needs for your Agency.</p>
          </div>
            </section>
      
            <!--section>
              <div class="codeships">
                <h5>Why Choose Codeship for Your Web Development?</h5>
                <p>Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. Website development gives out the impression of a new start for the business and the best developers in Chennai make sure you stand out from the competitors.</p>
              </div>
            </section-->
            <app-footer></app-footer>
  
        
      
        
  
  
  
    
    
    
    
  
  
  
