cart-notification {
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .item-details {
      display: flex;
      align-items: center;

      img {
        width: 50px;
        height: 50px;
        object-fit: contain;
        margin-right: 10px;
      }

      .item-info {
        h4 {
          font-size: 16px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          color: gray;
        }
      }
    }

    .item-quantity {
      label {
        font-size: 14px;
        margin-right: 5px;
      }

      .input {
        width: 50px;
        height: 25px;
        padding: 5px;
        font-size: 14px;
      }
    }
  }
}