
<footer>
  <h1 class="text1">ZEST NUTRITION</h1>
    <div class="container ">
       
        <div class="column">
            

            <p>
              <a href="#!" class="text-reset">ABOUT US</a>
            </p>
            <p>
              <a href="#!" >Our Existence</a>
            </p>
            <p>
              <a href="#!" >Digital Brouchure</a>
            </p>
            <p>
              <a href="#!" >Recipes</a>
            </p>
            <p>
                <a href="#!" >Blogs</a>
              </p>
              <p>
                <a href="#!" >Protein Calculator</a>
              </p>
          </div>
          <div class="column">
            <!-- Links -->
           <h2> </h2>
            <p>
              <a href="#!" class="text-reset">POLICIES</a>
            </p>
            <p>
              <a href="#!" >Privacy Policy</a>
            </p>
            <p>
              <a href="#!" >Terms & Condition</a>
            </p>
            <p>
              <a href="#!" >Refund Policy</a>
            </p>
            <p>
                <a href="#!" >Shipping Policy</a>
              </p>
              
          </div>
            <div class="column">
            <!-- Links -->
            <h2> </h2>
             <p>
              <a href="#!" class="text-reset">CONTACT US</a>
             </p>
            <p>
              <a href="#!" >Bulk Buying</a>
            </p>
            <p>
              <a href="#!" >Contract Manufacturing</a>
            </p>
            <p>
              <a href="#!" >Trade / Exports</a>
            </p>
            <p>
                <a href="#!" >Horeca Supply</a>
              </p>
              
          </div>

          <div class="column3"> 
          <img src="/assets/images/16206463599183gPay 1.png">
           <img src="/assets/images/16206463599183gPay 1.png">
           <img src="/assets/images/16206463599183gPay 1.png">
           <img src="/assets/images/16206463599183gPay 1.png">
          </div>

  
    </div>
    </footer>
    

