<header>
  <div class="header-section">
  <div class="logo">
    <img src="assets/images/logo.png" alt="Logo">
  </div>
  <nav>
    <ul class="menu">
      <li><a href="/home">Home</a></li>
      <li><a href="/service">Services</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/productdetails">Contact</a></li>
      <li><a href="/product">Product</a></li>
    </ul>
  </nav>
  <div class="images">
    <img src="assets/images/profile.svg" alt="profile">
    <i class="fas fa-cart-plus"  matBadge="5" matBadgeColor="warn"  matBadgeSize="small" matBadgeoverlap="false" ></i>
    
  </div>
</div>
</header>




       
 
  

  
  
  
  
  

