<app-header></app-header>
<section class="zoom-section">
  <div class="image-wrapper">
    <img src="assets/images/coffeemockup.png" alt="Image" class="zoom-image" style="max-width: 50%; ">
  </div>
  <div class="text-content">
    <h1>Non Dairy Instant Coffee</h1>
    <div class="review-section">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <h6>285 Reviews</h6>
    </div>
    <h2>AUTHENTIC SOUTH INDIAN COFFEE</h2>
    <p>Made with premium Arabica beans, our instant coffee comes with a delightful taste and a pleasant aroma. With no added chicory, it's a luxury drink for lasting energy. Both for expresso shots and milk coffee, it comes with a perfect flavour.</p>
    <h2>FRESH AND TRAVEL-FRIENDLY</h2>
    <p>The product comes in a zip lock bag and stays fresh for a long duration. It can conveniently be carried anywhere for an instant energy push and a refreshing experience. Made both for lactose tolerance and lactose-intolerants, it's a family-friendly drink.</p>
    <h2>PROTEIN-RICH AND DAIRY-FREE</h2>
    <p>It contains the goodness of Plant-based protein and 31 essential vital nutrients. The product offers 3.7 grams of protein in each serving and contains Calcium, Vitamins A, B1, B2, B12, C, and D, Iron, zinc etc for wholesome nutrition.</p>
    <h2>NON-DAIRY INSTANT COFFEE</h2>
    <p>Both for coffee cravers and health enthusiasts with few calories and no added sugar, this is a dairy-free instant coffee. Prepared in less than 2 minutes, it also contains pre-biotics which strengthen the gut and keep us full for a long.</p>
    <!-- Add more text content as needed -->

    <div class="image-row">
      <div class="column1">
        <img src="assets/images/media_1683452375093_Vegan.png" alt="veganplant; ">
        <p>Vegan Friendly</p>
      </div>
      <div class="column1">
        <img src="/assets/images/media_1685502176555_coffee-cup.png" alt="arabica coffee; ">
        <p>100% Arabica Coffee</p>
      </div>
      <div class="column1">
        <img src="/assets/images/media_1683454428382_2 Mins.png" alt="2mins; ">
        <p>2 mins Instant Preparation</p>
      </div>
      <div class="column1">
        <img src="assets/images/media_1683454499488_No Gassy Feel.png" alt="no gassy feel;  ">
        <p>No Gassy Feel</p>
      </div>
      <div class="column1">
        <img src="assets/images/media_1683454541260_No Acidity.png" alt="no gassy feel; ">
        <p>No Acidity / Bloating</p>
      </div>
    </div>
    <div class="main">
      <div class="sub">
        <p>200 gms </p>
        <p class="line">&#8377;899</p>
        <p>&#8377;699</p>
      </div>
      <div class="sub1">
        <p>200 gms </p>
        <p class="line">&#8377;899 </p>
        <p>&#8377;699</p>
      </div>
    </div>
    
<div class="main1">
  <div class="small-box">
    <span class="symbol">-</span> 1 <span class="symbol">+</span>
  </div>
  <div class="small-box1">
    <p style="color:white;">Add To cart</p>
</div>
</div>
</div>

</section>
 <!-- Login section -->
 <section>
  <div class="image-row1">
    
    <div class="column">
      <img src="/assets/images/image 10.png" alt="Lactose & Dairy Free">
      <p>Lactose & Dairy Free </p>
    </div>
    <div class="column">
      <img src="/assets/images/Added Probiotics.png" alt="Lactose & Dairy Free">
      <p>Goodness of Pre & Probiotics </p>
    </div>
    <div class="column">
      <img src="/assets/images/Heat Resistant (1).png" alt="Heat Resistant">
      <p>Heat Resistant </p>
    </div>
    <div class="column">
      <img src="/assets/images/Plant Based.png" alt="Plant Based">
      <p>Plant Based </p>
    </div>
    <div class="column">
      <img src="/assets/images/images11.png" alt="No Adultration">
      <p>No Adultration</p>
    </div>
    <div class="column">
      <img src="/assets/images/Vital Nutrients 01.png" alt="Vital Nutrients">
      <p>Vital Nutrients</p>
    </div>
    <div class="column">
      <img src="/assets/images/real southindian taste.png" alt="Real South Indian taste">
      <p>Real South Indian taste</p>
    </div>
    </div>
 
  </section>
  <div class="images">
    <div>
    <img src="/assets/images/media_1683611980896_Instant Coffee 1.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611980913_Instant Coffee 2.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611980865_Instant Coffee 3 (1).png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611980939_Instant Coffee 4.png" alt="instant coffee">
  </div>
  <div class="text-area">
    <h3 class="text-number">Product Description</h3>
    <p>Indulge in the delight of Non-Dairy Instant Coffee with Zest Nutrition. For coffee lovers, coffee is the first thing in mind. Whether one is reading, travelling, working or simply laying, the day seems incomplete without it. The caffeine gives the energy push for the day. But ever thought of having, non-dairy coffee which provides both good health and satisfies the craving?</p>
  <br>
  <p>Zest introduces Non-Dairy Plant-Based Instant Coffee - the perfect solution for those who want to enjoy the rich taste without dairy. Made with carefully selected, high-quality Arabica beans and blended with plant-based protein, Vitamins, Minerals, Probiotics and Pre-biotics, it is rich and flavorful, with a smooth and creamy texture. It contains 31 vital nutrients and provides 3.7 grams of protein in each serving. It strengthens bones, gives lasting energy and keeps one nourished.</p>
<br>
<p>Enjoy a delicious cup of coffee anytime, anywhere, without worrying about lactose intolerance. Be it expresso shots or authentic coffee, have a guilt-free indulgence. Our coffee is vegan-friendly, gluten-free, sugar -free and contains no preservatives, making it a healthier option for fitness enthusiasts Try out our authentic South Indian Instant coffee and browse through our premium product range.</p>  
<h6>NOTE  </h6>
<ul  class="text-place">
  <li> Allergen Warning- Contains Soy  </li>
  <li>Not suitable for making cold coffee  </li>
  <li>Store at a cool and dry place </li>
  <li>Close the zip lock tightly post-usage to prevent lumps ;</li>
</ul>
</div>
</div>
<section  class="flavour">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="one">
      <span>Easy on stomach and very comfortable for daily use we really enjoyed it .</span>
      <p>  ----Sakshi Mittal  </p>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="one">
      <div class="cookie "style="padding: 12px;">
      <span>In love with cookie and creame flavour. </span>
      <p> -----Gaurav </p>
    </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="one">
      <span>I have tried these products.It is very good .I felt its uits better than other proteins.It gets digested quickly!
      </span>   
      <p> -----Dave Duggal</p>  
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="one">
      <span>Use it on a daily basis!cannot use any other brand after this .Throughly satisfied.
      </span>  
      <p> ------Jenifer Razi</p> 
    </div>
  </ng-template>  
</owl-carousel-o>

</section>
<app-footer></app-footer>
