<app-header></app-header>
<section class="zoom-section1">
  <div class="image-wrapper1">
    <img src="/assets/images/media_1689346260917_1 (11).png" alt="Image" class="zoom-image" style="max-width: 50%; ">
  </div>
  <div class="text-content1">
    <h1>Daily Plant Based Creamer</h1>
    <div class="review-section">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <img src="assets/images/Vector (4).png" alt="star image;">
      <h6>285 Reviews</h6>
    </div>
    <h2>AUTHENTIC SOUTH INDIAN COFFEE</h2>
    <p>Made with premium Arabica beans, our instant coffee comes with a delightful taste and a pleasant aroma. With no added chicory, it's a luxury drink for lasting energy. Both for expresso shots and milk coffee, it comes with a perfect flavour.</p>
    <h2>FRESH AND TRAVEL-FRIENDLY</h2>
    <p>The product comes in a zip lock bag and stays fresh for a long duration. It can conveniently be carried anywhere for an instant energy push and a refreshing experience. Made both for lactose tolerance and lactose-intolerants, it's a family-friendly drink.</p>
    <h2>PROTEIN-RICH AND DAIRY-FREE</h2>
    <p>It contains the goodness of Plant-based protein and 31 essential vital nutrients. The product offers 3.7 grams of protein in each serving and contains Calcium, Vitamins A, B1, B2, B12, C, and D, Iron, zinc etc for wholesome nutrition.</p>
    <h2>NON-DAIRY INSTANT COFFEE</h2>
    <p>Both for coffee cravers and health enthusiasts with few calories and no added sugar, this is a dairy-free instant coffee. Prepared in less than 2 minutes, it also contains pre-biotics which strengthen the gut and keep us full for a long.</p>
    <!-- Add more text content as needed -->

    <div class="image-row2">
      <div class="column2">
        <img src="assets/images/media_1683452375093_Vegan.png" alt="veganplant" style="width:40%">
        <p>Vegan Friendly</p>
      </div>
      <div class="column2">
        <img src="/assets/images/media_1685502176555_coffee-cup.png" alt="arabica coffee" style="width: 40%;">
        <p>100% Arabica Coffee</p>
      </div>
      <div class="column2">
        <img src="/assets/images/media_1683454428382_2 Mins.png" alt="2mins" style="width: 40%;">
        <p>2 mins Instant Preparation</p>
      </div>
      <div class="column2">
        <img src="assets/images/media_1683454499488_No Gassy Feel.png" alt="no gassy feel" style="width: 40%;">
        <p>No Gassy Feel</p>
      </div>
      <div class="column2">
        <img src="assets/images/media_1683454541260_No Acidity.png" alt="no gassy feel" style="width: 40%;">
        <p>No Acidity / Bloating</p>
      </div>
    </div>
    <div class="main2">
      <div class="sub2">
        <p>200 gms </p>
        <p class="line1">&#8377;899</p>
        <p>&#8377;699</p>
      </div>
      <div class="sub3">
        <p>200 gms </p>
        <p class="line1">&#8377;899 </p>
        <p>&#8377;699</p>
      </div>
    </div>
    
<div class="main3">
  <div class="small-box2">
    <span class="symbol1">-</span> 1 <span class="symbol">+</span>
  </div>
  <div class="small-box3">
    <p style="color:white;">Add To cart</p>
</div>
</div>
</div>

</section>
 <!-- Login section -->
 <section>
  <div class="image-row3">
    
    <div class="column3">
      <img src="/assets/images/image 10.png"alt="Lactose & Dairy Free" width="40%">
      <p>Lactose & Dairy Free </p>
    </div>
    <div class="column3">
      <img src="/assets/images/Added Probiotics.png" alt="Lactose & Dairy Free"  width="40%">
      <p>Goodness of Pre & Probiotics </p>
    </div>
    <div class="column3">
      <img src="/assets/images/Heat Resistant (1).png" alt="Heat Resistant" width="40%">
      <p>Heat Resistant </p>
    </div>
    <div class="column3">
      <img src="/assets/images/Plant Based.png" alt="Plant Based" width="40%">
      <p>Plant Based </p>
    </div>
    <div class="column3">
      <img src="/assets/images/images11.png" alt="No Adultration" width="40%">
      <p>No Adultration</p>
    </div>
    <div class="column3">
      <img src="/assets/images/Vital Nutrients 01.png" alt="Vital Nutrients" width="30%">
      <p>Vital Nutrients</p>
    </div>
    <div class="column3">
      <img src="/assets/images/real southindian taste.png" alt="Real South Indian taste" width="30%">
      <p>Real South Indian taste</p>
    </div>
    </div>
 
  </section>
  <div class="images1">
    <div>
    <img src="/assets/images/media_1683611739920_Plant Based Creamer 2.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611739925_Plant Based Creamer 1.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611739863_Plant Based Creamer 3.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611739993_Plant Based Creamer 4.png" alt="instant coffee">
  </div>
  <div>
    <img src="/assets/images/media_1683611740015_Plant Based Creamer 5.png" alt="instant coffee">
  </div>
  <div class="text-area1">
    <h3 class="text-number1">Product Description</h3>
    <p>A little change and simple steps in our diet can contribute to a healthy and nourished lifestyle. Zest Nutrition introduces a plant–based, non-dairy creamer to revolutionize the beverage experience. Made with the finest ingredients, this creamer is a delicious alternative to traditional dairy creamers. It offers a rich texture and taste.</p>
  <br>
  <p>Have you ever wondered, how to get wholesome food that is both dairy free, unadulterated and plant-based? Well, we are the exclusive brand with one such product. Our non-dairy creamer is free from any animal products, lactose, or gluten, making it the perfect choice for those with dietary restrictions, lactose intolerants or who simply prefer a more plant-based lifestyle. Made from a blend of premium ingredients, it comes with 20 % of protein in each serving. Additionally, it contains the goodness of 21 essential nutrients, including Calcium, Vitamins A, B1, B2, B12, D, Iron, and zinc along with probiotics and carbohydrates. This rich and creamy texture will not only elevate tea/coffee/hot chocolate but also is a gift of good health and nourishment. It retains the freshness for a long duration.</p>
<br>
<p>Whether you're looking for a dairy-free option or just want to try something new, it is the perfect addition to your morning routine. So why settle for boring old creamers when you can indulge in the creamy goodness of Zest creamer? Try it today and experience the difference for yourself! For more such products, browse through our product range.
</p>  
<h6>NOTE  </h6>
<ul  class="text-place">
  <li> Allergen Warning- Contains Soy  </li>
  <li>Not suitable for making cold coffee  </li>
  <li>Store at a cool and dry place </li>
  <li>Close the zip lock tightly post-usage to prevent lumps ;</li>
</ul>
</div>
</div>
<section  class="flavour1">
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="two">
      <span>Easy on stomach and very comfortable for daily use we really enjoyed it .</span>
      <p>  ----Sakshi Mittal  </p>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="two">
      <div class="cookie1 "style="padding: 12px;">
      <span>In love with cookie and creame flavour. </span>
      <p> -----Gaurav </p>
    </div>
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="two">
      <span>I have tried these products.It is very good .I felt its uits better than other proteins.It gets digested quickly!
      </span>   
      <p> -----Dave Duggal</p>  
    </div>
  </ng-template>  
  <ng-template carouselSlide>
    <div class="two">
      <span>Use it on a daily basis!cannot use any other brand after this .Throughly satisfied.
      </span>  
      <p> ------Jenifer Razi</p> 
    </div>
  </ng-template>  
</owl-carousel-o>

</section>
<app-footer></app-footer>
