<app-header></app-header>
<section class="abcd">
  <div class="subcointainer">
      <h2>UI/UX Frontend Designing</h2>
      <p class="paragraph">A UX Designer is focused on all aspects of a product’s development, </p>
        <p class="paragraph" > including design, usability, function, and even branding and marketing.
      </p>
  </div>
</section>
<!--section-2-->
<section class = "deve">
  <div class=" ">
      <h1><span>
UI/UX FRONTEND DESIGNING</span></h1>
<p class="para">A UI, UX, and front-end web developer is responsible for applying interactive and visual design principles on websites and web applications for a positive and cohesive user experience. 
These developers use HTML, CSS, and other design tools to achieve responsive designs.</p>
</div>
</section>
<section class="design">
<div class="divider-wrapper">
      <hr class="divider">
      <h4 class="text1">HOW WE DO  </h4>
      <hr class="divider">
</div>
<div class="process">
 <p class="processed">UI/UX frontend designing has the following in its designing process:</p> 
</div>

<div class="row2">
<div class="work">
<img src="/assets/images/research-1.png" alt="Image" class="zoom-image" style="max-width: 50%; ">
</div>
<div class="Research">
<h6 class="research">Research</h6>
<p class="search">The research is the most crucial element for a designer. The designing team studies
   how the present system works for the current client proposal. The three main functions at this stage are: </p>
<ul >
<li>Have an understanding of the competition.</li>
<li>Making a thorough study of your existing domain.</li>
<li>Going through competitor strategy to test outcomes.</li>
</ul>
</div>
</div>
<div class="row3">
<div class="Strategy">
  <h6 class="research">Strategy</h6>
  <p class="search">In this phase, make use of the things collected in the Research phase. With the help of the information received, we create a strategy and then formulate to build a design for your frontend.</p>
</div>
<div class="market">
  <img src="/assets/images/marketing.png" alt="marketing" class="zoom-image" style="max-width: 30%;"  >
</div>
</div> 
<div class ="row5">
<div class="ui-design">
  <img src="/assets/images/ui-design.png" alt="ui-design" style="max-width: 40%;">
</div>
<div class="ux-design">
  <h6 class="research">UI UX Design</h6>
  <p class="search">UI/UX design is then designed using the strategy developed and modified to suit any necessary changes.</p>
</div>
</div>

<div class="row4">
  <div class="Strategy1">
    <h6 class="research">Development</h6>
    <p class="search">Development of the design is then carried out along with testing and making sure there are absolutely no glitches or errors and the design is user-friendly.</div>
  <div class="market1">
    <img src="/assets/images/web-development.png" alt="marketing" class="zoom-image" style="max-width: 20%;">
  </div>

</div>
</section>
<section class ="acat">
<div class="contact">
  <h6>LOOKING FOR UI/UX FRONTEND DESIGNERS IN CHENNAI?</h6>
  <button class="button1">CONTACT US</button>
</div>
</section>
<section>
<div class="codeship">
  <h4>Why Choose Codeship for Your Web Development?</h4>
  <p>Web development is the work involved in developing a website for the Internet or an intranet. Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services. Website development gives out the impression of a new start for the business and the best developers in Chennai make sure you stand out from the competitors.</p>
</div>
</section>


